<div class="catalog">
    <h1>WHO WE ARE ?</h1>
    <h4> We are birds. We do like butterfly. Only butterfly<br>We make the world know that bird can fly like butterfly</h4>
    <div class="team_info">
        <figure class="col">
            <%= cl_image_tag("du.png") %>
            <p class="name">Du Le</p>
            <p class="mssv">Eagle</p>
            <p class="descript"><i class="fa fa-quote-left" aria-hidden="true"></i>
                I hunt Bird <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
        </figure>
        <figure class="col">
            <%= cl_image_tag("thach.png") %>
            <p class="name">Thach Ng.</p>
            <p class="mssv">Owl</p>
            <p class="descript"><i class="fa fa-quote-left" aria-hidden="true"></i>
                 I sleep before 10pm <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
        </figure>
        <figure class="col">
            <%= cl_image_tag("vietanh.png") %>
            <p class="name">Anh Le</p>
            <p class="mssv">Parrot </p>
            <p class="descript"><i class="fa fa-quote-left" aria-hidden="true"></i>
                I am 'M' <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
        </figure>
        <figure class="col">
            <%= cl_image_tag("hung.png") %>
            <p class="name">Hung P.B</p>
            <p class="mssv">Stork</p>
            <p class="descript"><i class="fa fa-quote-left" aria-hidden="true"></i>
                I'm a Korean Bird <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
        </figure>
        <figure class="col">
	    <%= cl_image_tag("viet.png") %>
            <p class="name">Viet Hoang</p>
            <p class="mssv">Penguin</p>
            <p class="descript"><i class="fa fa-quote-left" aria-hidden="true"></i>
                I love lil birds <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
        </figure>

    </div>
</div>
