<!DOCTYPE html>
<html>
  <head>
    <title>Five-Birds Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application",
      media: "all", "data-turbolinks-track": "reload" %>
    <link href="https://fonts.googleapis.com/
      css?family=Crimson+Text:400,400i,600,700|Source+Sans+Pro:200,300,400,600,700" rel="stylesheet">
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "false" %>
    <%= alertify_flash %>

    <%= render "layouts/shim" %>
  </head>

  <body>
    <script>
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=2032953576972996';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= render "layouts/header" %>

    <%= yield %>
    <%= render "layouts/modal-details" %>
    <%= render "layouts/modal-login" %>
  </body>

</html>
